.hero-container {
  width: 100%;
  margin: 0px auto;
  padding: 1rem;
  width: 90%;
}
.hero-overlay {
  position: absolute;
  width: 100%;
  color: #f0f8ff;
  height: 300px;
  background: linear-gradient(rgb(0,0,0,0.4),transparent);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.hero-overlay h1{
    padding: 0rem 1rem;
    font-weight: bold;
    font-size: 60px;
} 
.hero-overlay span{
  color:  #EA580C;
}
.featured-image{
    width: 100%;
    object-fit: cover;
    height: 500px;
}